body{
  background-color: black;
  color: white;
  text-align: center;

}

h1{
  color:  #ffd700;
  margin-top:5rem;
  margin-bottom:1rem;
}

.img{
  display:flex;
  justify-content: center;
  align-items:center;
  margin:1rem;
  
}

.img img{
  border-radius:10px;
  border:2px solid yellow;
  width:50%;
  margin:1rem;
}

@media (max-width:760px){
  .img img{
  
  width:80%;
  margin:1rem;
}
}